
ul{
    list-style-type:none;
}

.main-nav{
    background-color: var(--mainblue);
    display:flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    /* justify-content: space-between; */
}

.no_underline{
    text-decoration:none;
}

.white{
    color: var(--mainwhite);
}



.title{
    margin-left: 2rem;
}

.nav-itemm ul{
    display:flex;
    align-items: center;
    justify-content: space-between;

}

.ml-8{
    margin-left:8rem;

}

.Button-cart{
 background:transparent;
 border-radius: 0.25rem;
 border:1.5px solid var(--mainwhite);
 padding: 0.5rem 1rem 0.5rem 1rem;
 color:var(--mainwhite);
 
}

.Button-cart:hover{
    background:var(--mainwhite);
    color:var(--mainblue);
 }

 